<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <File name="MyFile" fileName="./logs/sospri.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <logger name="ch.bbw.pr.sospri" level="WARN" additivity="false">
            <appender-ref ref="MyFile" />
            <appender-ref ref="Console" />
        </logger>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="MyFile"/>
        </root>
    </Loggers>
</Configuration>