.pr_bg_green {
  background: #add8e6;
}

.pr_border_solid {
  border-style: solid;
  border-color: #007FFF;
}

.pr_text_green {
  color: #006994;
}

.pr_center {
  position: relative;
  transform: translate(50%, 25%);
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
}

.media-list .media {
  margin-top: 30px;
  border-bottom: 1px dotted #eee;
  padding-bottom: 10px;
}

.media-list .media {
  border: none;
}

.media .pull-left {
  margin-right: 15px;
}

.media .pull-right {
  margin-left: 15px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "❌";
}