<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SoSpri-the-page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="906852017523-r1klbrtbngplr36dv5ent0sm9i3709rb.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pr_bbw.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        $(function() {
            $("#includedHeader").load("fragments/header.html");
            $("#includedFooter").load("fragments/footer.html");
        });
    </script>
    <script th:inline="javascript">
    function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert(/*[[#{message.username} + #{message.password}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert(/*[[#{message.username}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert(/*[[#{message.password}]]*/);
            document.f.password.focus();
            return false;
        }
    }
    </script>
</head>

<body>
<div id="includedHeader"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h4 style="margin-top: 30px">Choose your login method</h4>
                    <button type="button" class="btn btn-primary">
                        <p th:each="url : ${urls}" style="margin: 0;">
                            <a th:text="${url.key}" th:href="${url.value}" style="color: #ffffff;">Client</a>
                        </p>
                    </button>
                    <h5 style="margin-top: 20px;">Default</h5>
                    <div class="row">
                        <div class=" col-lg-8 col-lg-offset-2">
                            <form name="f" th:action="@{/login}" method="post" onsubmit="return validate()">
                                <fieldset>
                                    <div th:if="${param.error}" class="alert alert-error">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" id="username" name="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password"/>
                                    </div>
                                    <label>
                                        Google Authenticator Verification Code
                                    </label>
                                    <input type='text' id="code" name="code"/>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="height: 200px"></div>
            </div>
        </div>
    </div>
</section>

<div id="includedFooter"></div>
</body>

</html>